.grid-pattern {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    fill: rgba(156, 163, 175, 0.3);
    stroke: rgba(156, 163, 175, 0.3);
    z-index: -1;
}