.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  background-image: url("../assets/backgrounds/background4.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -8rem;
}


.home-text,
h1 {
  margin: 0.75rem 0 0.75rem 0;
}

.title {
  color: var(--light-green);
}


.resume-button {
  border: none;
  width: 6.5rem;
  height: 2rem;
  color: white;
  font-size: 0.85rem;
  border-radius: 8px;
  background-color: var(--light-green);
}

.computer-image {
  display: none;
}

@media (min-width: 576px) {
  .home-container {
    background-image: none;
  }
}

@media (min-width: 767px) {
  .home-content {
    flex-direction: row;
  }

  .computer-image {
    display: flex;
    margin: 5rem 0 0 3rem;
    width: 10rem;
  }
}