#home-text {
    align-self: center;
    padding: 30px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    color: black;
}



#name {
    font-weight: bolder;
    font-size: 5em;
}

.text {
    margin: 0;
    font-size: x-large;
}
