.line {
  margin: 0.75rem;
  width: 3.25rem;
  height: 0.3rem;
  background-color: white;
  border-radius: 16px;

  transition: transform 0.5s ease;
}

.top.open {
  position: absolute;
  transform: rotate(45deg);
  top: 1rem;
}

.middle.open {
  display: none;
}

.bottom.open {
  position: relative;
  transform: rotate(-45deg);
  top: 1rem;
}
