#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(30px);
}

#navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  margin-right: 2em;
}

#nav-links {
  display: none;
}

#nav-links *,
.nav-menu-links>a {
  margin-right: 4em;
  text-decoration: none;
  color: black;
  font-size: medium;
}

.nav-menu-links {
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  transition: height 1s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
}

.nav-menu-links>a {
  margin: 0.5em 0 1em 2em;
}

.nav-menu-links.hide {
  display: none;
}

#resume-link {
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
}


.nav-menu-icon {
  top: 0.5em;
  left: 2em;
  position: absolute;
  margin-right: 2em;
  transition: opacity 0.25s ease-in-out;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

@media only screen and (min-width: 500px) {
  #logo {
    margin-left: 4em;
  }

  #nav-links {
    display: block;
  }

  #nav-menu {
    display: none;
  }

  #navbar-container {
    justify-content: space-between;
  }
}