#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(30px);
}

img {
	margin-left: 3em;
}

a {
	margin-right: 4em;
	text-decoration: none;
	color: black;
	font-size: medium;
}

#resume-link {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
}

#nav-links {
  display: none;
}

#nav-menu-button {
  margin-right: 4em;
}

@media only screen and (min-width: 500px) {
  #nav-links {
    display: block;
  }

  #nav-menu-button {
    display: none;
  }
}
