#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(30px);
}

img {
	margin-left: 3em;
}

a {
	margin-right: 4em;
	text-decoration: none;
	color: black;
	font-size: medium;
}