.about-page {
    background-image: url(../assets/backgrounds/background1.svg);
    background-repeat: no-repeat;
    
    background-position: bottom;
  
    background-size: cover;
    
  
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-box {
    margin-top: 1vh;
    padding: 20px;
    border-radius: 25px;
      
    width: auto;
    max-width: 75vw;
 
    background-color: #3C3C44;
  
    filter: drop-shadow(0 2mm 2mm rgb(20, 20, 22));
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@media only screen and (min-width: 400px) {
  .text-box {
    max-width: 65vw;
  }
}
  
@media only screen and (min-width: 900px) {
  .text-box {
    margin-top: 5%;
  }
}


@media only screen and (max-height: 565px) {
  .text-box {
    margin-top: 2vh;
    max-width: 90%;
  }

  .text {
    font-size: small;
  }
}
  
  
