.nav-container {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  width: 4rem;
}

.nav-container ul {
  background-color: grey;
  list-style-type: none;
}

.nav-link {
  font-weight: bold;
  margin: 1rem;
  color: white;
  text-decoration: none;
}


@media (min-width: 767px) {
  .menu-icon {
    display: none;
  }

  .nav-container ul {
    display: flex !important;
  }
}
