#contact-container {
    margin: 0 2em 0 2em;
    background-color: $accent-1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2em;
    border-radius: 24px;

    legend {
        color: $primary;
    }
}


@include media-breakpoint-up(md) {
    #contact-container {
        max-width: 30em;
    } 
}
