$light-bg: #FFF;
$light-text: #000;

$dark-bg: #141416;
$dark-text: #FFF;

$primary: #43DD3E;

$theme-colors: (
    "primary": #43DD3E
);


body {
    height: 100vh;
}

#root {
    height: 100%;
}


@import "../../node_modules/bootstrap/scss/bootstrap";
