.home-container {
    height: 75%;
}

.home-text {
    margin: 0;
    font-size: larger
}

#title {
    color: $primary;
    font-size: 4em;
}


#graphic {
    display: none;
}
    
@include media-breakpoint-up(lg) {
    #graphic {
        display: inline;
        max-width: 15em;
    }
    
    .content {
        margin-left: 5em;
    }
}
