@import './variables.scss';

@import "../../node_modules/bootstrap/scss/functions";
@import '../../node_modules/bootstrap/scss/variables';
@import "../../node_modules/bootstrap/scss/mixins";

@import "./dark-mode";

@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    .navbar-toggler {
        border-color: transparent;

        &:not(.collapsed) {
            .navbar-toggler-icon {
                background-image: url("../assets/close-nav-black.svg");
            }
        }
    }
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn {
    margin-top: 1em;
}

#project-card {
    background-color: $accent-1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}


@import './Home.scss';
@import './Contact.scss';
